body p,h1,h2,h3,h4{
    color:rgb(53, 52, 52);
}

body {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
    background-color:rgb(222, 219, 219);
  }
  
.box {
    width:auto;
    height: auto;
    border-radius: 10px;
    background-color: rgb(181, 209, 200);
    padding: 1em;
}

h1{
    border-bottom:3mm ridge rgb(174, 237, 199);
}

.a{
width:auto;
height:auto;
border-radius:10px;
background-color:rgb(181, 209, 200);
padding:0.7em;
}

.b{
    width:auto;
    height:auto;
    background-color:rgb(181,209,200);
    padding:5px;
    border-radius:10px;
}
.practice{
    width:auto;
    height:auto;
    background-color:#e0ebaf;
    padding:10px;
    margin:20px;
    border-radius:10px;
}

.kadai{
    width:auto;
    height:auto;
    background-color:#e0ebaf;
    border-radius:10px;
    margin:20px;
    padding:10px;
}