body p,h1,h2,h3,h4{
    color:rgb(53, 52, 52);
}

body {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif
  }
  
.box {
    width:auto;
    height: auto;
    border-radius: 5px;
    background-color: rgb(216, 240, 228);
    padding: 1em;
}

h1{
    border-bottom:3mm ridge rgb(203, 250, 236);
}

.a{
width:auto;
height:auto;
border-radius:5px;
background-color:rgb(216, 240, 228);
padding:1em;
}

.b{
    width:auto;
    height:auto;
    border-radius:5px;
    background-color:(216,240,228);
    padding:1em;
}